
<form [formGroup]="groupForm" novalidate>
  <md-card>
    <md-card-content fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      

      
      <div fxLayout="row" fxFill>

          <md-input-container fxFlex>
              <input mdInput placeholder="Group Name" formControlName="groupName" appUniqueValidator keyUrl="group/validate" keyId="{{groupId.value}}" required>
              <md-error *ngIf="groupForm.get('groupName').hasError('required')" >
                Group Name is <strong>required</strong>
              </md-error>
              <md-error *ngIf="groupForm.get('groupName').hasError('asyncInvalid')" >
                Group Name must be <strong>unique</strong>
              </md-error>
          </md-input-container>

      </div>
                
    </md-card-content>

    <md-card-actions> 
      <div fxLayout fxFill fxLayoutAlign="center center">
        
        <button md-raised-button [disabled]="groupForm.invalid || groupForm.pristine" (click)="saveForm()"  color="accent">Save Changes</button>

        <button md-raised-button *ngIf="groupId.value != 0" [disabled]="groupForm.pristine" (click)="revertForm()"  color="warn">Revert Changes</button>

        <button md-raised-button *ngIf="groupId.value == 0"   [disabled]="groupForm.pristine" (click)="resetForm()"  color="warn">Reset</button>
        
      </div>
    </md-card-actions> 
  </md-card>
</form>