
<form [formGroup]="itemTypeForm" novalidate>
  <md-card>
    <md-card-content fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      

      
      <div fxLayout="row" fxFill>

          <md-input-container fxFlex>
              <input type="text" mdInput placeholder="Item Name" formControlName="itemName" appUniqueValidator keyUrl="item/type/validate" keyId="{{itemTypeId.value}}" required>
              <md-error *ngIf="itemTypeForm.get('itemName').hasError('required')" >
                Item Name is <strong>required</strong>
              </md-error>
              <md-error *ngIf="itemTypeForm.get('itemName').hasError('asyncInvalid')">
                Item Name must be <strong>unique</strong>
              </md-error>
          </md-input-container>

      </div>
                
    </md-card-content>

    <md-card-actions> 
      <div fxLayout fxFill fxLayoutAlign="center center">
        
        <button md-raised-button [disabled]="itemTypeForm.invalid || itemTypeForm.pristine" (click)="saveForm()"  color="accent">Save Changes</button>

        <button md-raised-button *ngIf="itemTypeId.value != 0" [disabled]="itemTypeForm.pristine" (click)="revertForm()"  color="warn">Revert Changes</button>

        <button md-raised-button *ngIf="itemTypeId.value == 0"   [disabled]="itemTypeForm.pristine" (click)="resetForm()"  color="warn">Reset</button>
        
      </div>
    </md-card-actions> 
  </md-card>
</form>