


<app-title-bar [title]="groupName" [goBack]="'/main/group'" [toolTip]="'Go Back to Group List'" [bulk]="false" ></app-title-bar>
<app-group-item-form (save)="tableChangeEvent()" ></app-group-item-form>
<div class="card-content-container mat-elevation-z8">
  <div class="card-header">
              <md-input-container  class="search-input-container">
                <input type="search" mdInput [(ngModel)]="searchFilter" (ngModelChange)="newSearchFilter(searchFilter)" placeholder="Search Item Type" >
              </md-input-container>
        </div>
  <div class="table-content" >
        <md-table   #table [dataSource]="dataSource" mdSort (mdSortChange)="tableChangeEvent()" >

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <ng-container cdkColumnDef="itemName">
              <md-header-cell *cdkHeaderCellDef md-sort-header> Item Name </md-header-cell>
              <md-cell *cdkCellDef="let row"> {{row.itemName}} </md-cell>
            </ng-container>

      
            <ng-container cdkColumnDef="itemPrice">
              <md-header-cell *cdkHeaderCellDef> Price </md-header-cell>
              <md-cell *cdkCellDef="let row"> {{row.itemPrice}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="action">
              <md-header-cell *cdkHeaderCellDef>Action</md-header-cell>
              <md-cell *cdkCellDef="let row" >
                <button md-raised-button color="warn" mdTooltip="Remove this item from this group" mdTooltipPosition="above" (click)="delete(row.itemGroupId)">Remove</button>
              </md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
  </div>

    <md-paginator
                [length]="pageDataLength"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page) = "tableChangeEvent()"
                >
      </md-paginator>
  
</div>



