<h2 md-dialog-title>Reference Number: {{ data.rrNo }}</h2><h2 md-dialog-title>Total Sales: {{ data.total | number:'1.2-2'}}</h2>
<md-dialog-content>
  <div class="table-content" >
    <md-table   #table [dataSource]="dataSource"  >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <ng-container cdkColumnDef="itemName">
          <md-header-cell *cdkHeaderCellDef> Item </md-header-cell>
          <md-cell *cdkCellDef="let row"> <div *ngIf="row.group" >{{ row.group.groupName }}</div>  - {{ row.item_type.itemName }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="currentPrice">
          <md-header-cell *cdkHeaderCellDef> Price </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.currentPrice | number:'1.2-2'}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="qty">
          <md-header-cell *cdkHeaderCellDef > Quantity </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.qty}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="total">
          <md-header-cell *cdkHeaderCellDef > Total Price </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{ getTotal(row.qty,row.currentPrice) | number: '1.2-2'}} </md-cell>
        </ng-container>

   
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
</div>
</md-dialog-content>